/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

.sLogo {
    width: 160px;
}
.section_title {
    font-size: 22px;
    color: #191d21;
    font-weight: 600;
    position: relative;
    margin: 30px 0 10px;
}
