@import "./config";
@import "./base";
@import "./layout";

/*!----- COMPONENTS -------*/
main > section {
    padding: 80px 0;

    .section_title h3 {
        text-align: center;
        font-size: calc(1.325rem + 0.9vw);
        padding-bottom: 20px;
        text-transform: uppercase;
    }
}
#glightbox-body {
    .gslide-media img {
        padding-top: 15px;
    }
    .gslide-description {
        text-align: center;
        background: transparent;
        .gslide-desc {
            color: #fff;
            width: fit-content;
            margin: auto;
            padding: 5px 20px;
            background: #222;
        }
    }
}
.cta {
    color: #fff;
    position: relative;
    padding: 110px 12px;
    background: url("../img/bg-cta.jpg") center center;
    background-size: cover;
    overflow: hidden;
    // OVERLAY
    &:before {
        content: "";
        background: rgba(17, 17, 17, 0.89);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .content {
        position: relative;
        .cta_heading {
            line-height: 1.5;
            word-spacing: 2px;
        }
        .btn {
            color: #fff;
            background: $mainColor;
            padding: 8px 24px;
            margin-top: 28px;
        }
    }
}

/*!----- HOME PAGE -------*/
.home {
    /*!----- HERO SECTION -------*/
    .hero {
        padding: 0;
        background: #222;
        overflow: hidden;

        .carousel-inner .carousel-item {
            height: calc(100vh - 115px);
            min-height: 480px;
            max-height: 700px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // object-position: 0 -140px;
            }
            .overlay {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.06);
            }
        }
        // Controls
        .carousel-control-next,
        .carousel-control-prev {
            opacity: 0.8;
            transition: all 0.4s;
            margin: 4px;

            i.bi {
                font-size: 20px;
                background: rgba(0, 0, 0, 0.55);
                height: 46px;
                width: 46px;
                border-radius: 50%;
                display: grid;
                place-content: center;
            }

            &:hover {
                opacity: 1;
                transform: scale(1.12);
            }
        }
        .carousel-indicators {
            margin-bottom: 30px;
        }
    }

    /*!----- ABOUT SECTION -------*/
    .about {
        position: relative;
        // OVERLAY
        &:before {
            // content: "";
            background: rgba(17, 17, 17, 0.98);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
        // ABOUT IMAGE
        .about_img {
            position: relative;
            overflow: hidden;

            img {
                transition: 0.6s 0.1s;
                // border: 1px solid #444;
            }
            // HOVERS
            &:hover img {
                transform: scale(1.05);
            }
        }

        // ABOUT CONTENT
        .content {
            h2 {
                color: $black;
                font-size: calc(1.28rem + 1.5vw);
            }
            p {
                color: #222;
            }
        }
    }

    /*!----- Testimonials SECTION -------*/
    .testimonials {
        color: #fff;
        position: relative;
        background: url("../img/bg-testimonials.jpg") center center;
        background-size: cover;
        overflow: hidden;
        // OVERLAY
        &:before {
            content: "";
            background: rgba(17, 17, 17, 0.89);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        .inner_section {
            position: relative;
            color: #fff;
        }

        #testimonialSlider {
            text-align: center;
            padding: 24px;
            padding-bottom: 30px;

            .content-text {
                padding: 28px 12px;
                margin: auto;
                border: 1px solid rgba(255, 255, 255, 0.08);
                max-width: 720px;
                backdrop-filter: blur(20px);
                background: rgba(0, 0, 0, 0.35);

                .client_photo {
                    width: 98px;
                    height: 98px;
                    object-fit: cover;
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    margin-bottom: 12px;
                }
                p {
                    margin-bottom: 20px;
                    color: rgba(255, 255, 255, 0.9);
                }
                .client {
                    color: #fff;
                    margin: 0;
                    position: relative;
                    padding-top: 18px;

                    &::before {
                        content: "";
                        background: $mainColor;
                        position: absolute;
                        width: 60px;
                        height: 2px;
                        margin: 0 auto;
                        bottom: 0;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }

            .carousel-indicators {
                bottom: -50px;
            }
            .carousel-control-prev {
                left: -6px;
            }
            .carousel-control-next {
                right: -6px;
            }
        }
    }

    /*!----- SERVICES SECTION -------*/
    .services {
        .content {
            padding: 0 6px;
        }
        .card {
            overflow: hidden;
            border: none;
            margin: 0 6px 12px;
            // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);

            img {
                height: 280px;
                object-fit: cover;
                transition: 0.8s 0.1s;

                &:hover {
                    transform: scale(1.15);
                }
            }

            .card-body {
                z-index: 1;
                padding: 18px;
                text-align: center;
                background: #fff;

                .card-title {
                    font-size: 1.2rem;
                    color: #333;
                    margin: 0;
                    font-weight: 400;
                }
            }
        }
    }

    /*!----- GALLERY SECTION -------*/
    .gallery {
        background: #f8f8f8;

        .content {
            margin: 0 -2px;
        }

        .gallery_item {
            height: 150px;
            overflow: hidden;
            margin: 8px;
            border: 1px solid #ddd;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*!----- SUB PAGES -------*/
.page {
    .page_cover {
        padding: 60px 10px;
        position: relative;
        text-align: center;
        background: url("../img/bg-cover.jpg") center center;
        background-size: cover;
        // OVERLAY
        &:before {
            content: "";
            background: rgba(17, 17, 17, 0.85);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        h1,
        p {
            color: #fff;
            position: relative;
        }
    }
    .section_title {
        text-align: center;
        margin-bottom: 24px;
        text-transform: capitalize;
    }
    & > .container {
        margin-top: 70px;
        margin-bottom: 75px;
    }
}

#about {
    #services {
        padding: 70px 0;
        background: #f8f8f8;

        .content {
            padding: 0 6px;
        }
        .card {
            overflow: hidden;
            border: none;
            margin: 0 6px 12px;

            img {
                height: 280px;
                object-fit: cover;
            }

            .card-body {
                z-index: 1;
                padding: 18px;
                text-align: center;

                .card-title {
                    font-size: 1.2rem;
                    color: #333;
                    margin-bottom: 12px;
                }
            }
        }
    }
}

#gallery {
    .gallery_item {
        height: 150px;
        overflow: hidden;
        margin: 8px;
        border: 1px solid #ddd;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

#contact {
    .page_cover {
        padding: 60px 10px 90px;

        p {
            color: #ddd;
        }
    }
    .container {
        color: #fff;
        position: relative;
        margin: 0 auto;
        z-index: 1;
    }
    .row.info {
        color: #222;
        position: relative;
        top: -60px;

        .info_box {
            padding: 25px 10px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid #eaeaea;
            background: #fff;
            box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);

            i.bi {
                display: inline-grid;
                color: #000;
                padding: 12px;
                font-size: 25px;
                margin-bottom: 20px;
                border-radius: 50%;
                background: #ddd;
            }
        }
    }
    .row.contactBox {
        margin: 0;
        border: 1px solid #ddd;
        box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);

        .map {
            padding: 0 !important;
            background: #aaa;
            border: 1px solid #eee;
            min-height: 400px;

            & > div {
                height: 100%;
                iframe {
                    height: 100%;
                }
                & > a {
                    display: none;
                }
            }
        }
        .form {
            padding: 40px 20px;
            form > div {
                margin-bottom: 20px;
                & > .mt-md-0 {
                    margin-top: 20px;
                }
            }
            .form-control,
            .form-select {
                color: #444;
                border-radius: 2px;
                padding: 12px 15px;
                font-size: 13px;
                box-shadow: none;
                border-color: #b8b8b8;
            }
            button {
                padding: 8px 40px;
                border-radius: 2px;
            }
        }
    }
}

/*!----- RESPONSIVE CSS -------*/
@include tablet {
    #hero {
        .carousel-inner .carousel-item {
            height: calc(100vh - 100px);
        }
    }
    #gallery .gallery_item {
        height: 280px;
    }
}
